.playerItem {
    padding: 10px;
    border: solid 1px black;
    background-color: #272727;
    border-radius: 5px;
    width: 275px;
    text-wrap: normal;
    height: 400px;
}

img {
    height: 180px;
    width: 180px;
    border-radius: 5px;
}

.greyText {
    color: grey;
}