.messageWindow {
    padding:  30px;
    background: rgb(22, 22, 22);
    border-radius: 20px;
    min-width: 300px;
    font-size: 20px;
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }


}