<div>
    <p>Search for a player by name</p>
    <div class="flex gap-5">
        <mat-form-field class="example-full-width">
            <mat-label>Player name</mat-label>
            <input matInput [(ngModel)]="playerSearch">
        </mat-form-field>
        <mat-form-field id="regionSelector">
            <mat-label>Server</mat-label>
            <mat-select [(ngModel)]="serverInput">
                <mat-option *ngFor="let server of servers$" [value]="server">{{server}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button style="height: 56px;" mat-raised-button color="primary" (click)="search()">Search</button>
    </div>
</div>